body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 12px;
    background: #f5f5f5;
}

a {
    text-decoration: none;
    color: #fafbfd;
}

h1, h2, h3 {
    line-height: 1.1em;
}

h1 {
    font-size: 28px;
}

label {
    display: block;
    color: #959798;
    margin-bottom: 7px;
    font-size: 10pt;
}

.half {
    width: 47%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    border-top: 3px solid #e4836b;
    height: 228px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.gray {
    background-color: #efefef;
}

.hero {
    text-align: center;
    height: 380px;
    overflow: hidden;
    background-image: url(/images/sf.jpg);
    background-size: cover;
    background-position: 0 -165px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
    border-bottom: 10px solid #e4836b;
}

.hero h1 {
    margin: 137px 0 0;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header {
    position: absolute;
    color: white;
    width: 100%;
    z-index: 1;
}

.header .logo,
.footer .logo {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-left: 41px;
}

.header a {
    padding: 12px;
    transition: background-color 0.2s;
    display: inline-block;
    cursor: pointer;
}

.header > a {
    font-size: 16px;
    line-height: 1;
}

.header a:hover {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 12px;
    background-color: #2db7d8;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 4px;
    color: #fafbfd;
}

.btn:hover {
    background-color: #36c3e4;
}

.content {
    color: #636363;
    max-width: 550px;
    padding: 60px 20px;
    margin: 0 auto;
}

.half.right h3 {
    margin: 23px 0;
}

select, input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    font-family: 'Montserrat';
    color: #636363;
    font-size: 10pt;
    font-weight: 100;
    padding: 4px;
    float: left;
    padding: 11px;
}

.input,
.select {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,.15);
    display: inline-block;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.select::after {
    content: '\25bc';
    display: block;
    position: absolute;
    top: 14px;
    right: 49px;
    font-size: 9px;
    pointer-events: none;
}

input {
    color: #95a1b2;
    min-width: 182px;
    border-bottom: 1px solid #fafbfd;
}

input + .btn,
select + .btn {
    margin: 0;
}

select {
    cursor: pointer;
    padding: 11px 22px 11px 11px;
}

select:focus, input:focus {
    outline: none;
}

.go {
    padding: 6px 8px;
    border-radius: 2px;
    background-color: #fafbfd;
    color: #1f2123;
    display: inline-block;
    cursor: pointer;
}

.leads-h2 {
    margin: 44px 0 20px;
}

.result {
    background-color: white;
    color: #636363;
    max-width: 600px;
    margin: 30px auto 0;
    display: block;
    box-shadow: 2px 2px #f3f3f3;
    border-left: 3px solid #e4836b;
    transition: box-shadow 0.2s, border-left 0.2s;
}

.result:hover {
    box-shadow: 2px 2px #ececec;
}

.result p {
    margin: 0;
    padding: 10px 15px 15px;
    color: #717171;
    line-height: 1.5;
}

.result b, .result strong {
    font-weight: 100;
}

.result-count + .result {
    margin-top: 15px;
}

.gig:hover {
    border-left: 3px solid #ec947e;
}

.gig .result-title {
    padding: 10px 14px;
    transition: background-color 0.2s;
    font-size: 15px;
}

.gig .result-source {
    padding: 5px 14px;
    font-size: 10pt;
    color: #e4836b;
    text-transform: uppercase;
    background-color: #fbf1ee;
}

.result-count {
    color: #adadad;
    margin-top: 10px;
}

.pagination {
    margin-top: 22px;
}

.page {
    color: #717171;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin: 3px;
    display: inline-block;
    box-shadow: 1px 1px #f3f3f3;
}

.page.current {
    background-color: #f5f5f5;
    pointer-events: none;
}

.result .logo {
    width: 115px;
    height: 115px;
    background-size: 84%;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    background-repeat: no-repeat;
    box-shadow: 1px 2px #e0e0e0;
}

.result .btn {
    position: relative;
    left: 11px;
    top: -15px;
    width: 77px;
    text-align: center;
    font-size: 13px;
}

.course {
    background-color: #f3f3f3;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e4e4e4;
}

.course .result-title {
    background-color: #e4836b;
    font-size: 14px;
    display: block;
    padding: 10px 14px;
    transition: background-color 0.2s;
    color: white;
    box-shadow: inset 2px -2px 0px #d47d68;
}

.course .result-title:hover {
    background-color: #f19078;
}

.course .result-source {
    padding: 5px 14px 6px;
    background-color: #fbf1ee;
    font-size: 10pt;
    color: #e4836b;
    font-weight: bold;
    transition: background-color 0.2s;
    display: block;
}

.course .desc {
    margin: 0;
    padding: 12px;
    color: #717171;
    line-height: 1.6;
    float: left;
    font-size: 10pt;
}

.course ul {
    margin: 6px 0 0;
}

.course .info {
    background-color: white;
    float: left;
    width: calc(100% - 135px);
}

.article header,
.gigs header,
.classes header {
    background-color: #3a3636;
    border-bottom: 10px solid #e4836b;
}

.article-body p,
.article-body ul {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 24px;
}

.article-body a {
    color: #13a4e0;
    transition: color 0.2s;
}

.article-body a:hover {
    color: #12b4f7;
}

.article-body .right {
    margin: 0 0 15px 15px;
}

.article-body .left {
    margin: 0 15px 15px 0;
}

.article-body img {
    border-radius: 3px;
    box-shadow: 1px 1px #e0e0e0;
    border: 1px solid #e8e8e8;
}

.search-wrap {
    background-color: #efefef;
    padding: 5px 5px 3px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
}

footer {
    background-color: #3a3636;
    color: #f5f5f5;
    margin-top: 25px;
    border-top: 10px solid #e4836b;
}

footer .content {
    max-width: 900px;
    padding: 10px 20px;
}

.footer {
    border-bottom: 1px solid #272727;
    box-shadow: 0px 1px #3e3e3e;
}

.footer .nav {
    color: gray;
}

.footer .logo {
    font-size: 13pt;
    line-height: 1.1;
}
